@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

:root {
  /* Black */
  --black: #050505;
  --light-black: #1f1f1f;
  --xlight-black: #2d2d2d;
  --xxlight-black: #3a3a3a;

  /* Grey */
  --dark-grey: #757575;
  --light-grey: #e9e9e9;
  --xlight-grey: #f4f4f4;
  --white: #ffffff;

  /* Other */
  --purple: #a445ed;
  --light-purple: #efcafe;
  --orange: #ff5252;
}

.light-theme {
  --txt: #050505;
  --bg: #ffffff;
  --btn-theme: #3a3a3a;
  --search-bg: #e9e9e9;
}

.dark-theme {
  --txt: #ffffff;
  --bg: #080808;
  --btn-theme: #a445ed;
  --search-bg: #3a3a3a;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

html {
  font-size: 150%;
}

body {
  background-color: var(--bg);
  color: var(--txt);
}

.dictionary {
  margin: 1rem auto;
  max-width: 800px;
}

@media (max-width: 832px) {
  .dictionary {
    max-width: 700px;
  }
}

@media (max-width: 740px) {
  .dictionary {
    max-width: 600px;
  }
}

@media (max-width: 638px) {
  html {
    font-size: 130%;
  }

  .dictionary {
    max-width: 90%;
  }
}

@media (max-width: 470px) {
  html {
    font-size: 110%;
  }
}

@media (max-width: 322px) {
  html {
    font-size: 100%;
  }
}
